<h2>Topic list</h2>

  <div class="group">
    <%= link_to "新增主題", new_topic_path , :class => "btn btn-primary" %>
  </div>
  <div class="clearfix"></div>
  <div class="text-right">
    <%= search_form_for @q do |f| %>

      <%= f.label :title_cont, "search title" %>
      <%= f.search_field :title_cont %>

      <%= f.submit "GO~", :class =>"btn btn-primary btn-sm" %>
    <% end %>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "All", topics_path %></li>
    <% Category.all.each do |c| %>
    <li role="presentation"><%= link_to c.name, topics_path(:cid => c.id) %></li>
    <% end %>
  </ul>


  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> <%= sort_link(@q, :id, 'ID', default_order: :desc) %> </th>
          <th> Title </th>
          <th> User </th>
          <th> <%= sort_link(@q, :comments_count, 'Comments', default_order: :desc) %> </th>
          <th> <%= sort_link(@q, :updated_at, 'updated_at', default_order: :desc) %> </th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |t| %>
        <tr>
          <td> <%= t.id %> </td>
          <td> <%= link_to t.title, topic_path(t) %> </td>
          <td> <%= t.user_id %> </td>
          <td> <%= t.comments_count %> </td>
          <td> <%= t.updated_at.to_formatted_s(:short)  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="text-center"><%= paginate @topics %></div>



