  <h2>RE: <%= @topic.title %></h2>
  <p>
    <% @topic.categories.each do |c| %>
      <%= link_to c.name, topics_path(:cid => c.id) %>
    <% end %>
  </p>
  <p><%= @topic.content %></p>

  <div class="comment-form">
    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for @comment, :url => topic_comments_path(@topic) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, :class => "form-control", :placeholder => "在這裡回覆...." %>
      </div>
        <%= f.submit "submit", :class =>"btn btn-primary"  %>
    <% end %>
  </div>

  <p></p>

  <div class="comment-area">
    <% @topic.comments.each do |c| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag c.user.gravatar_url, :class => "media-object", :size =>"50", :style =>" border-radius: 50%;" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= c.user.email %></h4>
        <%= simple_format c.content %>
      </div>
    </div>
    <% end %>
  </div>